@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}
.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
.akaya-telivigala-regular {
  font-family: "Akaya Telivigala", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Appetite'; /* Name for the font */
  src: url(./fonts/AppetitePro.otf) ;
}

a {
  color: #fff;
  
}
h1{
  color: white;
  text-align: center !important;
  font-family: 'Quintessential';
}
h4{
  color: white;
  text-align: center !important;
  font-family: 'Akaya Telivigala';
}
h6{
  color: white;
  text-align: center !important;
  font-family: 'Akaya Telivigala';
  margin-bottom: 0 !important;
}
a{
  color: white;
  font-family: 'Akaya Telivigala';
  text-align: center !important;
}
button{
  font-family: 'Akaya Telivigala';
  
  text-align: center !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
}

.section-heading {
  color: #cccccc;
  width: 90vw;
  max-width: 1200px;
}


section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
section .bg h2 {
  z-index: 1;
}
section .bg .clip-text {
  overflow: hidden;
}

.first .bg {
  background-image: url("./assets/BG-1.png");
}

.second .bg {
  background-image: url("./assets/BG-2.png");
}

.third .bg {
  background-image: url("./assets/BG-3.png");
}

.fourth .bg {
  background-image: url("./assets/BG-4.png");
}

.fifth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
  background-position: 50% 45%;
}

/* Imported from org file  */
.left-top{
  position: absolute;
  top: 25vh;
  left: 5vw;
  z-index: 25;
}
.compin{
  margin-left: 2% !important;
  height: 70%;
  margin-top: 2%;
  width: 96%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5%;
  z-index: 1;
}
.esport{
  object-position: bottom;
}
.know-more{
  width: 95%;
  z-index: 5;
  text-align: center !important;
  /* margin-left: 15% !important; */
}
.text{
  display: grid;
  left: 4%;
  margin-right: 4%;
  z-index: 5;
}
button{
  font-size: large;
  width: 70%;
  margin-top: 3vh !important;
  z-index: 5;
  margin-left: 14%;
  object-position: center;
}
#myImage {
  justify-self: center;
  max-height: 100vh;
  max-width: 100vw;
}
.comp {
  width: 100vw;
  height: 100vh;
}
h1{
  max-width: 96%;
  text-decoration: none;
  font-weight: normal;
}
#comp1 {
  justify-items: center;
  height: 80vh;
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
}
#comp2 {
  justify-items: center;
  height: 80vh;
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
}
#comp3 {
  justify-items: center;
  height: 80vh;
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
}
@media (min-aspect-ratio: 1/1) {
  /* Styles for landscape orientation */
  #comp1 {
      display: grid;
      grid-template-areas: 
      "a a a"
      "b c d"
      "b c d";
      grid-gap: 10px;
  }    
  #comp2{
      display: grid;
      grid-template-areas: 
      "e e e"
      "f g h"
      "f g h";
      grid-gap: 10px;
  }    
  #comp3{
      display: grid;
      grid-template-areas: 
      "l l"
      "m n"
      "m n";
      grid-gap: 10px;
  }    
  .cards{
      width: 15vw;
      z-index: 3;
  }
  .card {
      top: 0%; /* Center vertically */
      left: 0%; /* Center horizontally */
      height: 100%;
      width: 100%;
      background-color: transparent;
  }
  h4{
    font-size: 4vh;
    margin: 0;
  }
  h6{
      font-size: 2.5vh;
      margin: 0;
      text-decoration: none;
      font-weight: normal;
      margin-right: 5% !important;
  }
  .know-more{
      font-size: 2vh;
  }
  button{
      font-size: 2.5vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  /* Styles for portrait orientation */
  #comp1{
      display: grid;
      grid-template-areas: 
      "a a"
      "b c"
      "d d";
  }
  #comp2{
      display: grid;
      grid-template-areas: 
      "e e"
      "f g"
      "h h";
  }
  #comp3{
      display: grid;
      grid-template-areas: 
      "l"
      "m"
      "n";
  }
  
  .cards{
      height: 24vh;
      max-width: 40vw;
      z-index: 2;
  }
  .card {
      height: 100%;
      width: 13.5vh;
      border: none; /* Text color */
      background-color: transparent;
  }
  h4{
      font-size: 2.5vw;
      margin: 0;
  }
  h6{
      font-size: 1.8vw;
      margin: 0;
      text-decoration: none;
      font-weight: normal;
      margin-right: 5% !important;
  }
  .know-more{
      font-size: 1.5vw;
  }
  button{
      font-size: 2vw;
  }
}

.a{
  grid-area: a;
}
.b{
  grid-area: b;
}
.c{
  grid-area: c;
}
.d{
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.i {
  grid-area: i;
}
.j {
  grid-area: j;
}
.k {
  grid-area: k;
}
.l {
  grid-area: l;
}
.m {
  grid-area: m;
}
.n {
  grid-area: n;
}
.o {
  grid-area: o;
}
.p {
  grid-area: p;
}
.q {
  grid-area: q;
}
