* {
	box-sizing: border-box;
}
.gallery{
  
  background-image: url('./assets/BG_events.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'OneJinja'; /* Name for the font */
  src: url(./fonts/OneJinja.otf) ;
}
@font-face {
  font-family: 'Appetite'; /* Name for the font */
  src: url(./fonts/AppetitePro.otf) ;
}
@font-face {
  font-family: 'OneJinja'; /* Name for the font */
  src: url(./fonts/OneJinja.otf) ;
}
a {
  color: #fff;
  
}
.title{
  color: white;
  font-family: 'OneJinja';
  font-size: x-large;
  padding-left: 1vh;
}
a{
  color: white;
  font-family: 'Appetite';
  font-size: large;
}
button{
  font-family: 'Appetite';
}

body {
  font-family: Mori;
	background: #111;
	min-height: 100vh;
	padding: 0;
	margin: 0;
  overflow-x: hidden;
}
.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.actions {
	position: absolute;
	bottom: 25px;
	left: 30%;
  width: 40vw;
}

button {
  display: inline-block;
  outline: none;
  width: 15vw;
  border: none;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  margin-left: 4vw;
  border-radius: 4px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-family: Mori;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transform: translateX(-50%, 50%);

}

button:hover {
  background-image: -webkit-linear-gradient(top, #d5d5d5, #a2a2a2);
  background-image: -moz-linear-gradient(top, #d6d6d6, #a2a2a2);
  background-image: -ms-linear-gradient(top, #d6d6d6, #a2a2a2);
  background-image: -o-linear-gradient(top, #d6d6d6, #a2a2a2);
  background-image: linear-gradient(to bottom, #d6d6d6, #a2a2a2);
  text-shadow: 0px 1px 0px #626262;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #111;
  transition-duration: 2.5s;
}

@media (min-aspect-ratio: 1/1) {
  /* Styles for landscape orientation */

  .cards {
    position: absolute;
    width: 18vw;
    height: 32vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 18vw;
    height: 32vw;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    font-size: 1rem;
  }
  .fit{
    width: 18vw;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 20vw;
  }
  .bgcard{
    width: 18vw;
    height: 32vw;
    position: relative;
    margin-top: -20vw;    
    background-image: url('./assets/cards_events.png');
    background-size: cover;
    padding-left: 1vw;
    padding-top: 20vw;
    font-weight: 500;
  }
  .bgcard button {
    font-weight: 500 !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0.8rem !important;
    font-size: 1rem !important;
    max-width: 16vw !important;
    margin: 0;
    margin-top: 5vh;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
}
@media (max-aspect-ratio: 1/1) {
  /* Styles for portrait orientation */
  .cards {
    position: absolute;
    width: 18vh;
    height: 32vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 18vh;
    height: 32vh;
    text-align: left;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
  }
  .fit{
    width: 18vh;
    margin: 0%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 20vh;
  }
  .title{
    font-size: 2.5vw;
  }
  .know-more{
    font-size: 2vw;
  }
  .bgcard{
    width: 18vh;
    margin: 0%;
    height: 32vh;
    margin-top: -20vh;
    padding-left: 1vw; 
    padding-top: 20vh;   
    background-image: url('./assets/cards_events.png');
    background-size: cover;
  }
  .bgcard button {
    font-weight: 500 !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0.8rem !important;
    max-width: 16vw !important;
    margin: 0;
    margin-top: 2.5vh;
    margin-left: 1vh;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
}
@media (min-aspect-ratio: 1/1) {
  /* Styles for landscape orientation */
  .page1{
    background-image: url('./assets/pro1.png');
    background-position: center;
    background-size: cover;
  }
  .page2{
    background-image: url('./assets/come1.JPG');
    background-position: center;
    background-size: cover;
  }
  .page3{
    background-image: url('./assets/the1.png');
    background-position: center;
    background-size: cover;
  }
  .page4{
    background-image: url('./assets/You1.jpg');
    background-position: center;
    background-size: cover;
  }
  .page5{
    background-image: url('./assets/pro2.jpg');
    background-position: center;
    background-size: cover;
  }
  .page6{
    background-image: url('./assets/come2.JPG');
    background-position: center;
    background-size: cover;
  }
  .page7{
    background-image: url('./assets/the2.JPG');
    background-position: center;
    background-size: cover;
  }
  .page8{
    background-image: url('./assets/you2.JPG');
    background-position: center;
    background-size: cover;
  }
}
@media (max-aspect-ratio: 1/1) {
  /* Styles for portrait orientation */
  .page1{
    background-image: url('./assets/pro1.png');
    background-position: center;
    background-size: cover;
  }
  .page2{
    background-image: url('./assets/come1.JPG');
    background-position: center;
    background-size: cover;
  }
  .page3{
    background-image: url('./assets/the1.png');
    background-position: center;
    background-size: cover;
  }
  .page4{
    background-image: url('./assets/You1.jpg');
    background-position: center;
    background-size: cover;
  }
  .page5{
    background-image: url('./assets/pro2.jpg');
    background-position: center;
    background-size: cover;
  }
  .page6{
    background-image: url('./assets/come2.JPG');
    background-position: center;
    background-size: cover;
  }
  .page7{
    background-image: url('./assets/the2.JPG');
    background-position: center;
    background-size: cover;
  }
  .page8{
    background-image: url('./assets/you2.JPG');
    background-position: center;
    background-size: cover;
  }
}