.book {
  transition: opacity 0.4s 0.2s;
}
p{
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}

@media (min-aspect-ratio: 1/1) {
  /* Styles for landscape orientation */
  body{
    align-items: flex-end;
  }
  .page {
    width: 30vw;
    height: 40vw;
    background-color: #111111;
    float: left;
    margin-bottom: 0.1em;
    background: left top no-repeat;
    background-size: cover;
  }
  .page:nth-child(even) {
    clear: both;
  }
  .book {
    perspective: 250vw;
  }
  .book .pages {
    width: 60vw;
    height: 40vw;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
    /*box-shadow: 0 0 0 1px #e3dfd8;*/
  }
  .book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 30vw;
    height: 40vw;
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
  }
  .book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
  }
  .book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  }
}
@media (max-aspect-ratio: 1/1) {
  /* Styles for protait orientation */
  body{
    align-items: center;
  }
  .page {
    width: 42vw;
    height: 56vw;
    background-color: #111111;
    float: left;
    margin-bottom: 0.5em;
    background: left top no-repeat;
    background-size: cover;
  }
  .page:nth-child(even) {
    clear: both;
  }
  .book {
    perspective: 250vw;
  }
  .book .pages {
    width: 84vw;
    height: 56vw;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
    /*box-shadow: 0 0 0 1px #e3dfd8;*/
  }
  .book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 42vw;
    height: 56vw;
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
  }
  .book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
  }
  .book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  }
}
.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Lovers Quarrel', cursive;
  background: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  line-height: 1.5em;
}
.page:nth-child(odd){
  background-position: right top;
}
.page1 {
  background-image: url("./assets/page1.jpg") !important;
  background-position: right;
}
.page2 {
  background-image: url("./assets/page2.jpg") !important;
  background-position: left;
}
.page3 {
  background-image: url("./assets/page3.jpg") !important;
  background-position: right;
}
.page4 {
  background-image: url("./assets/page4.jpg") !important;
  background-position: left;
}
.page5 {
  background-image: url("./assets/page5.jpg") !important;
  background-position: right;
}
.page6 {
  background-image: url("./assets/page6.jpg") !important;
  background-position: left;
}
.page7 {
  background-image: url("./assets/page7.jpg") !important;
  background-position: right;
}
.page8 {
  background-image: url("./assets/page8.jpg") !important;
  background-position: left;
}
.page9 {
  background-image: url("./assets/page9.jpg") !important;
  background-position: right;
}
.page10 {
  background-image: url("./assets/page10.jpg") !important;
  background-position: left;
}
.page11 {
  background-image: url("./assets/page11.jpg") !important;
  background-position: right;
}
.page12 {
  background-image: url("./assets/page12.jpg") !important;
  background-position: left;
}
.page13 {
  background-image: url("./assets/page13.jpg") !important;
  background-position: right;
}
.page14 {
  background-image: url("./assets/page14.jpg") !important;
  background-position: left;
}
.page15 {
  background-image: url("./assets/page15.jpg") !important;
  background-position: right;
}
.page16 {
  background-image: url("./assets/page16.jpg") !important;
  background-position: left;
}
.page17 {
  background-image: url("./assets/page17.jpg") !important;
  background-position: right;
}
.page18 {
  background-image: url("./assets/page18.jpg") !important;
  background-position: left;
}
