@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Onejinja";
    src: url("./fonts/OneJinja.otf") format("opentype");
  }

@font-face {
    font-family: "Appetite";
    src: url("./fonts/AppetitePro.otf") ;
  }
  @font-face {
    font-family: 'LaOriental';
    src: url("./fonts/LaOriental.otf") ;
  }
  @font-face {
    font-family: 'Uchiyama';
    src: url("./fonts/Uchiyama.otf") ;
  }
  @font-face {
    font-family: 'Ryukosei';
    src: url("./fonts/Ryukosei.otf") ;
  }
  
backdrop-blur{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
/* Add this in your global styles or within a <style> tag */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}
