@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Onejinja";
    src: url("./fonts/OneJinja.otf") format("opentype");
  }

@font-face {
    font-family: "Appetite";
    src: url("./fonts/AppetitePro.otf") ;
  }
  
backdrop-blur{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}